// Color Variables

$background-color: #FFF4D5;
$accent-color: #E17055;
$text-color: #2C3A47;
$gray: #b5b5b5; 

// Main Styles

body{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
  color:$text-color;
  h1{
    font-size:36px;
    line-height: normal;
    margin:0;
  }
  & > .container {
    width:calc(100% - 30px);
    padding: 0 15px;
    & > h1 {
      margin:20px 0;
    }
    .groceries{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 4% 2%;
      width:100%;
  
      .grocery{
        position: relative;
        display: inline-block;
        width: 100%;
        padding-top:100%;
        background-color:$background-color;
        border: solid $accent-color 5px;
        border-left-width: 0;
        border-top-width: 0;
        .container{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          top:0;
          right:0;
          bottom:0;
          left: 0;
          padding: 10px;
          .header, .footer{
            color:$accent-color;
            text-transform: uppercase;
            font-weight: bold;
          }
          .header{
            text-align: right;
          }
          .body{
            // Ensures body is at least 1 heading, 2 text lines, and 1 divider with margins high
            min-height: calc(36px * (1.155) + 16px* 1.5 * 2 + 2px + 4px);
            .divider{
              background-color:$gray;
              height:2px;
              margin: 2px 0;
            }
            .subtitle{
              font-weight: bold;
            }    
          }
        }
      }
    }
  } 
}
// Breakpoints

@media(min-width:1025px){
  body > .container{
    max-width: 980px;
    margin:auto;
    padding:0;
  }
}

@media(max-width:767px) {
  body > .container{
    width:calc(100% - 20px);
    padding:0 10px;
    padding-bottom:10px;
    .groceries{
      display:flex;
      flex-direction: column;
      .grocery{
        padding-top: 190px; // 2 to 1 ratio if screen width is 400px
        margin-bottom: 20px;
        &:last-child{
          margin-bottom:0;
        }
        .container{
          justify-content: space-between;
          .body{
            flex:0;
            .title{
              margin-top:0;
            }
          }
        }  
      }
    }
  }
}